<h1>新規作成</h1>
<%= render 'form' %>

<div class="index-link-area">
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <a href="<%= bookmark.url %>">
          <img src="<%= bookmark.og_image %>" alt="">
          <h4>
            <%= bookmark.title %>
          </h4>
        </a>
      </li>
    <% end %>
  </ul>
</div>
